<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="60 seconds">
   
<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%thread] [%logger{0}:%line] - %msg%n"/>

   <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
           <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>
    
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    
   <logger name="log4jdbc.log4j2" level="error" additivity="false">
      <appender-ref ref="CONSOLE" />
   </logger>
   
   <logger name="jdbc.sqlonly" level="off">
      <appender-ref ref="CONSOLE" />
   </logger>
   
   <Logger name="jdbc.sqltiming" level="info">
      <appender-ref ref="CONSOLE" />
   </Logger>
   
   <Logger name="jdbc.resultsettable" level="info">
      <appender-ref ref="CONSOLE" />
   </Logger>
   
   <Logger name="jdbc.audit" level="off">
      <appender-ref ref="CONSOLE" />
   </Logger>
   
   <Logger name="jdbc.connection" level="off">
      <appender-ref ref="CONSOLE" />
   </Logger>
   
   <Logger name="jdbc.resultset" level="off">
      <appender-ref ref="CONSOLE" />
   </Logger>

</configuration>
